* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  .main {
    background-image: url(https://i.pinimg.com/originals/6f/0a/07/6f0a07c32a16e9a4e3d49eb74bcf73c7.jpg);
    position: relative;
    height: 100vh;
    width: 100%;
    
    position: relative;
  }
  .info {
    text-align: center;
  
    padding-top: 5%;
    padding-left: 50%;
  }

  .main .info h5 {
    color: white;
    
    font-size: 2.5em;
  }
  .main .info p {
    color: aliceblue;
    font-size: 1.5em;
  
  }
  .main svg {
    position: absolute;
    bottom: 0;
  }

   .photo {
    position: absolute;
    /* height: auto; */
    height: 70px;
    width: 70px;
  }
  .photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .photo .web{
    font-size: 1em;
    color: black;
    text-align: center;
    position: absolute;
    opacity: 0;
    transition: 1s;
  }
  .photo:hover .web{
    opacity: 1;
    top: 70px;

  }
  .p-1 {
    top: 71%;
    left: 20%;
  }

  .p-2 {
    top: 72%;
    left: 40%;
  }
  /* .p-2:hover {
    height: 15%;
    width: 10%;
    border-color: chocolate;
  } */
  .p-3 {
    top: 60%;
    left: 63%;
  }
  .p-4 {
    top: 60%;
    left: 85%;
  }
  .web {
    margin: auto;
    padding-left: 25%;
    /* padding-top: 15%; */
  }
  .web h5 {
    color: chocolate;
  }