body{
    height: 0;
    width: 0;
    box-sizing: border-box;
    background-color: aliceblue !important;
    overflow: hidden;
    margin-left: 35% !important;
             
   

}
.calculator-app{
    width: 80%;
    height: auto;
    margin-top:10% !important ;
   
    
   
    
}
.calculator-app input{
    width: 100%;
    height: auto;
    padding: 10%;
    text-align: right;
    font-size: 28px;
    border: none;
    background-color: aliceblue;
            
    
}